* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(./img/top_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
    width: 288px;
    height: 41px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

.header__input::placeholder {
    color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    gap: 32px;
}

.menu__link {
    font-size: 16px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.menu__link:hover {
    text-decoration: underline;
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: rgb(255, 255, 255);
    letter-spacing: 0;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 16px;
}


.top__text {
    font-size: 24px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 16px;
}

.top__link {
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    text-decoration-line: underline;
}

.heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}

.product-box {
    margin-top: 64px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 48px;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
}

.product__img {
    width: 100%;
}

.product__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 8px;
}

.product__text {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.product__price-box {
    display: flex;
}

.product__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
    margin-right: 32px;
}

.product__price_sale {
    text-decoration-line: line-through;
    color: #888888;
}

.footer {
    background: rgb(247, 246, 246);
    margin-top: 64px;
    height: 208px;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    box-sizing: border-box;
}

.footer__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footer__link-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
}

.footer__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__icons {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.footer__icon {
    margin-right: 20px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.form__text {
    line-height: 16px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.form__email {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    width: 260px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.form__email::placeholder {
    color: rgb(196, 196, 196);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
}

.form__button {
    background: rgba(222, 215, 215, 0.41);
    border: none;
    box-sizing: border-box;
    border-radius: 16px;
    width: 260px;
    height: 46px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.form__button:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}